
<html>
  <h1>User and comment management app</h1>
  <h2>What would you like to do?</h2>
  <br>
  <ul>
    <li>
      <label>Add a user</label>
      <a href="/add_user_form">
        <button action>Go</button>
      </a>
    </li>
    <li>
      <label>View a particular user</label>
      <a href="/search_user_form">
        <button action>Go</button>
      </a>
    </li>

    <li>
      <label>View all users</label>
      <a href="/user_list">
        <button>Go</button>
      </a>
    </li>

    <li>
      <label>View all comments</label>
      <a href="/view_all_comments">
        <button>Go</button>
      </a>
    </li>

    <li>
      <label>Search and view a particular comment</label>
      <a href="/search_comment_form">
        <button>Go</button>
      </a>
    </li>
    <li>
      <label>Fetch data from a ZOO API</label>
      <a href="/fetch_data">
        <button>Go</button>
      </a>
    </li>
  </ul>
</html>
